.intro-text {
  font-size: 48px;
  letter-spacing: 2px;
  font-family: Candara;
  font-variant: small-caps;
  margin-bottom: 10px;
  border-bottom: solid 1px goldenrod;
}
.intro-text-paragraph-container {
  text-align: center;
}
.dark-mode .intro-text-paragraph-container {
}
.intro-text-paragraph {
  font-family: "Arial";
  padding: 15px;
  text-align: center;
}

.intro-text-loop {
  font-family: Candara;
  font-weight: bold;
}

.profiles {
  margin-top: 35px;
}

.landing-card {
  transform: scale(0.8);
  width: 90%;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.dark-mode .landing-card {
  background-color: #272727 !important;
}

.hover-prompt {
  font-family: "Candara";
  padding: 25px;
  font-size: 20px;
}

.family-hover-text-container {
  width: inherit;
  max-height: 40px;
  text-align: center;
}
.hover-text-container {
  width: inherit;
  max-height: 20px;
  text-align: center;
  margin-right: 250px;
}

.hover-text {
  font-family: "Arial";
  font-style: italic;
  padding: 20px;
  border-bottom: 1px solid goldenrod;
}
.hover-text-click {
  font-family: "Arial";
  font-style: italic;
  padding: 15px;
}

.video-col {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.ref-link {
  font-size: 14px;
  color: gray !important;
}
