.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 1px;
  margin-top: -1px;
  overflow: auto;
}
.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}
.search-bar{  z-index:9999;}

/* ARROW 1 */

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 90px;
  display: block;
  text-align: center;
  font-size: 50px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 33px;
  height: 33px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

/* ARROW 2 */

.arrow-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.arrow-1 {
  width: 100px;
  height: 100px;
  background: #00bcd4;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}

.arrow-2 {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
}

.arrow-2:before {
  width: 52px;
  height: 52px;
  content: "";
  border: 2px solid #006064;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.arrow-2 i.fa {
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #006064;
}

/* Custom Animate.css */

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
/* ARROW 3 */
a {
  color: white;
  text-decoration: none;
}
.arrow {
  text-align: center;
  bottom: 10px;
  position: absolute;
  left: 50%;
  bottom: 90px;
  display: block;
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: cyan;
}
.carousel {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 90px;
}
.carousel-caption {
  position: absolute;
  top: -5px;
  bottom: auto;
  margin: 0 auto;
}
.img-slider {
  height: 30;
}
.h3-responsive {
  z-index: 3;
  font-family: "Times New Roman";
  margin-top: 195px;
  justify-content: center;
}
.h6-responsive {
  z-index: 3;
  font-family: "Times New Roman";
  margin-top: 195px;
  justify-content: center;
}
.title-column {
  bottom: 105px;
  margin-top: 105px;
}
.landing-text {
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}
.toggle-container {
  display: flex;
  margin: 0 auto;
}

.mode-toggle {
  height: 20px;
  width: 60px;
}

main {
  padding: 0.5em;
  margin: 0 auto;
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.1;
  height: 90vh;
}
.dark-mode .modal-container{
  background: #303030;
  width:20%;

}
.dark-mode .modal-body{
  text-align: center;
  background: #303030;
  color:white;
  font-family:"Times"
}
.dark-mode .modal-foot{
  justify-content: left;
}

.modal-container{
  width:20%;

}
.modal-body{
  text-align: center;
  font-family:"Times"
}
.modal-foot{
  justify-content: left;
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}

.nav.navbar-nav li a {
  color: #fff !important;
}

.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.25s ease-out;
}
.light-mode .vertical-timeline-element-content {
  box-shadow: 0 0px 0 #303030;
}

.light-mode .vertical-timeline-element-content::before {
  border-left-color: #121212;
}

.dark-mode {
  background-color: #121212;
  color: #fff;
  transition: background-color 0.25s ease-out;
}
.dark-mode App {
  background-color: #272727;
}
.dark-mode card-style {
  background-color: #303030;
}

.dark-mode .main-footer {
  background-color: #303030;
  margin-top: -50px;
}

.dark-mode hero-greet {
  opacity: 0;
}

.dark-mode .vertical-timeline-element-content::before {
  border-bottom-color: #121212;
  border-right-color: #121212;
}
.dark-mode .vertical-timeline-element-content::after {
  background: #121212;
  border-color: #121212;
  border-bottom-color: #121212;
  border-right-color: #121212;
  border: 0px 10 0 0;
}

.dark-mode .vertical-timeline-element--work {
  border-color: #121212;
}

.dark-mode .vertical-timeline-element {
  border-color: #121212;
}
.dark-mode .vertical-timeline-element-content {
  background: #303030;
  border-color: #121212;
  border: 10px 10 0 0;
  border-radius: 0.25em;
  box-shadow: 0 0px 0 #303030;
}

.dark-mode .bounce-in {
  background: #121212;
}
.dark-mode .preDiv {
  background: #303030;
}

.dark-mode .card-style {
  background-color: #303030;
  border-color: #121212;
}
.dark-mode .card-info {
  color: #fff;
}

.dark-mode .vertical-timeline-element-date {
  color: #fff;
}

.dark-mode a {
  color: #fff !important;
}
.dark-mode nav-link {
  color: black;
}

.dark-mode loader {
  background-color: #000;
  height: 100%;
}
.dark-mode lottie {
  background-color: #000;
}

h1 {
  justify-content: center;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
}
.lottie-text {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.loader {
  padding-top: 15%;
  height: 100%;
  align-items: center;
  background-color: white !important;
}
.lottie {
  color: black;
  background-color: black;
  height: 100%;
}
.scroll-button {
  background-color: black;
  background: grey;
}

.profile {
  height: 70%;
}
.profile_bio {
  position: relative;
  margin-top: 25%;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.main-nav {
  font-family: Arial, sans-serif;
  margin: 0 25%;
  float: left;
}

.logo-style {
  float: left;
  animation: App-logo-spin infinite 20s linear;
}
.hero-greet {
  opacity: 0.5;
  background: transparent;
}
body,
html {
  height: 100%;
  width: 100%;
}
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./Media/Pre-WWII/Abram.Baigelman035.jpeg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landing {
  opacity: 1;
  background: transparent;
}
.back {
  opacity: 1;
  background: transparent;
}

.App-link {
  color: #61dafb;
}
.slide-container {
  width: 100%;
  margin: auto;
}

h3 {
  text-align: center;
}
.profile_title {
  font-family: "Times New Roman", Times, serif;
}

.single_photo {
  width: 600px;
  height: 500px;
  margin-right: 20%;
}
.each-slide > div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
  width: 500px;
}

.each-slide span {
  font-size: 15px;
  text-align: justify;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.Popup {
  float: right;
}

.vertical-timeline::before {
  background: grey;
}
.vertical-timeline-element-content {
  background: white;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}

.tree ul {
  padding-top: 20px;
  position: relative;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 0.5px 0 5px;

  -webkit-transition: all 0.5s;

  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.tree-photo {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 5px solid #ccc;
  width: 50%;
  height: 45px;
  z-index: -1;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 5px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
		any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
  padding-top: 0;
}

/*Remove left connector from first child and 
		right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
  border-right: 5px solid #ccc;
  border-radius: 0 5px 0 0;

  -webkit-transform: translateX(1px);
  -moz-transform: translateX(1px);
  transform: translateX(1px);

  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  border-left: 5px solid #ccc;
  width: 0;
  height: 32px;
  z-index: -1;
}

.tree li a {
  border: 5px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  background: white;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  transition: transform 0.2s; /* Animation */
}

.dark-mode .tree li a {
  border: 5px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  background: #121212;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  transition: transform 0.2s; /* Animation */
}

.tree li a + a {
  margin-left: 20px;
  position: relative;
}
.tree li a + a::before {
  content: "";
  position: absolute;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #8b0000;
  top: 50%;
  left: -21px;
  width: 20px;
}
body#archive .footer {
  display: none;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover,
.tree li a:hover ~ ul li a {
  background: #c8e4f8;
  color: #000;
  border: 0.5px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover ~ ul li::after,
.tree li a:hover ~ ul li::before,
.tree li a:hover ~ ul::before,
.tree li a:hover ~ ul ul::before {
  border-color: #94a0b4;
}
input[type="checkbox"] {
  display: none;
}
.no-shadows {
  box-shadow: none !important;
}
.container {
  margin-top: 2%;
  padding-top: 2%;
}
.container img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

input[type="checkbox"]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}

.tree-wrapper {
  display: inline-block;
  min-height: 500px;
  width: 13000px;
  transform: scale(0.105);
  transform-origin: -1.02% 1% 0px;
  overflow-y: hidden;
  margin-left: 150px;
  transition: transform 1s;
}



.tree-profile {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.tree-info {
  font-size: 55px;
  font-family: "Times New Roman", Times, serif;
}
.navbar-header {
  position: relative !important;
  top: 0;
  width: 1450px;
}
.main-footer {
  width: 1450px;
}
#scroll {
  background: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
