.search-results {
  min-height: 90vh;
  margin-top: 10px;
  width: 100%;
}
.no-results {
  min-height: 90vh;
  margin-top: 10px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
