
.henry_story_title {
  font-family: Lora;
  font-size: 3rem;
  margin-bottom: -50px;
}
.henry_story_photos {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 450px;
  height: 350px;
  border: 1px solid goldenrod;
}

.henry_story {
  text-align: left;
  justify-content: center;
}
