* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: table;
  height: 100vh;
  padding-top: 1px;
  margin-top: -1px;
  overflow: auto;
}

.close span {
  color: white;
}
.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.dark-mode {
  background-color: #121212;
  color: #fff;
  transition: background-color 0.45s ease-out;
}
.dark-mode App {
  background-color: #272727;
}

.dark-mode hero-greet {
  opacity: 0;
}

.dark-mode a {
  color: #fff !important;
}

h1 {
  justify-content: center;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  text-align: center;
}
.welcome-modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./LodzGif.gif");
  background-size: cover;
}

.welcome-modal-photos {
  display: flex;
  margin: 0 auto;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  transition: display 5500ms ease-in 2000ms;
}
.welcome-modal-image {
  margin: 0.75rem;
  border-radius: 0.25rem;
}
.welcome-modal-subtitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: white;
}
.welcome-modal-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: white;
}
.welcome-modal-content {
  display: flex;
  align-items: center;
  font-family: "Candara";
  font-size: 1.5rem;
  color: white;
}
.welcome-modal-button {
  display: flex;
  font-family: "Candara";
  font-size: 1.5rem;
  padding: 0;
  margin-left: 0.25rem;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  color: white;
  background-color: transparent;
  border: none;
}
.welcome-msg-text{
  padding: 0.5rem;
}

.welcome-modal-button:hover {
  color: rgb(245, 208, 115);
}

.welcome-modal-link {
  display: flex;
  align-items: center;
}
