* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: table;
  height: 100vh;
  padding-top: 1px;
  margin-top: -1px;
  overflow: auto;
}

.close span {
  color: white;
}
.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.dark-mode {
  background-color: #121212;
  color: #fff;
  transition: background-color 0.45s ease-out;
}
.dark-mode App {
  background-color: #272727;
}

.dark-mode hero-greet {
  opacity: 0;
}

.dark-mode a {
  color: #fff !important;
}

h1 {
  justify-content: center;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  text-align: center;
}

.welcome-modal-title {
  font-family: "Candara";
}
.welcome-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Candara";
  color: gray;
  text-align: left !important;
}
